.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.auth-modal-box {
  position: fixed;
  left: 35vw;
  width: 30vw;
  color: rgb(196, 166, 212);
  z-index: 20;
}

.main-modal {
  border: 2px solid rgb(155, 24, 191);
  background-color: rgb(18, 1, 29);
  color: rgb(201, 133, 255);
}

.auth-box-actions {
  text-align: right;
}

button.btn {
  cursor: pointer;
  background-color: #8609ec;
  color: rgb(196, 166, 212);
}
