<div class="backdrop" (click)="onClose()"></div>
<div class="auth-modal-box" [@modalState]="modalState">
  <div class="row d-flex justify-content-center main-modal">
    <div class="col-auto py-3">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form [formGroup]="authForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="email" class="form-control" id="username" formControlName="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="row d-flex justify-content-end">
          <div class="col-auto">
            <button type="submit" class="btn mr-1" [disabled]="authForm.invalid">Sign In</button>
            <button type="button" class="btn ml-1" (click)="onClose()">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
