<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Credit type</th>
    <th scope="col">Client</th>
    <th scope="col">Creditor</th>
    <th scope="col">Number</th>
    <th scope="col">Repayment</th>
    <th scope="col">Opening date</th>
    <th scope="col">Credit sum</th>
    <th scope="col">Months</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let credit of credits">
    <td>{{ credit.id }}</td>
    <td>{{ credit.creditType.name }}</td>
    <td>{{ clientFullName(credit) }}</td>
    <td>{{ credit.creditor.name }}</td>
    <td>{{ credit.creditNumber }}</td>
    <td>{{ isCreditPayedOff(credit) }}</td>
    <td>{{ credit.openingDate | date }}</td>
    <td>{{ credit.fullSum }}</td>
    <td>{{ credit.monthsAmount}}</td>
  </tr>
  </tbody>
</table>
