<div>
  <button type="button" class="btn m-3" (click)="onNewCredit()">New Credit</button>
  <ng-template appNewCreditPlaceholder></ng-template>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 my-2">
      <div class="list-group">
        <app-credit-elem *ngFor="let credit of credits" [credit]="credit"></app-credit-elem>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
