.page-holder {
  background: url("../../assets/backgrounds/login-background.jpg");
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
}

.login-btn {
  cursor: pointer;
  background-color: #8609ec;
  color: rgb(196, 166, 212);
  position: fixed;
  top: 80vh;
  left: 47vw;
}
