.page-holder {
  background: url("../../assets/backgrounds/user-background.jpg");
  min-height: 100vh;
}

.bg-cover {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
}
