<a class="list-group-item credit-link" routerLinkActive="active" [routerLink]="[credit.id]">
  <div class="flex-row d-flex justify-content-center align-items-center">
    <div class="col flex-fill">
      <app-repayment-radialbar [repaymentPercent]="repaymentPercent"></app-repayment-radialbar>
    </div>
    <div class="col flex-fill">
      <h5>From {{ credit.openingDate | date }}</h5>
      <p>On ${{ credit.fullSum }}</p>
    </div>
  </div>
</a>
