a.list-group-item {
  cursor: pointer;
  text-decoration: none;
}

.credit-link:not(.active),
.credit-link:not(.focus) {
  background-color: transparent;
  border: none;
}

.credit-link:active,
.credit-link:focus {
  background-color: rgb(155, 24, 191);
  border: none;
}

div.d-flex {
  background-color: rgb(18, 1, 29);
}

h5 {
  color: rgb(196, 166, 212);
}

p {
  color: rgb(152, 95, 201);
}
