.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

.new-payment-modal-box {
  position: fixed;
  left: 30vw;
  width: 40vw;
  color: rgb(196, 166, 212);
  z-index: 20;
}

.main-modal {
  border: 2px solid rgb(155, 24, 191);
  background-color: rgb(18, 1, 29);
  color: rgb(201, 133, 255);
}

button.btn {
  cursor: pointer;
  background-color: rgb(134, 9, 236);
  color: rgb(196, 166, 212);
}
