<div class="backdrop" (click)="onClose()"></div>
<div class="new-payment-modal-box" [@modalState]="modalState">
  <div class="row d-flex justify-content-center main-modal">
    <div class="col-lg-7 p-5">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form [formGroup]="paymentForm" (ngSubmit)="onNewPayment()">
        <div class="form-group">
          <label for="paymentSum">Payment Sum</label>
          <input type="text" class="form-control" id="paymentSum" formControlName="paymentSum">
        </div>
        <div class="row d-flex justify-content-end">
          <div class="col-auto">
            <button type="submit" class="btn mr-1" [disabled]="paymentForm.invalid">Confirm payment</button>
            <button type="button" class="btn ml-1" (click)="onClose()">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
