<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom">
  <a href="#" class="navbar-brand">
    <img src="assets/logo/bank-logo.png" class="bank-logo" alt="Our Bank">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="credits" routerLinkActive="active">Credits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="clients" routerLinkActive="active">Clients</a>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link logout-link" (click)="onLogOutClick()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
