.navbar-custom {
  background-color: rgb(18, 1, 29);
}

.navbar-custom .navbar-brand {
  color: rgb(152, 95, 201);
}

.navbar-custom .nav .nav-link {
  color: rgb(152, 95, 201);
}

.navbar-custom .nav-item .nav-link.active {
  color: rgb(255, 255, 255);
}

.navbar-custom .nav-item:hover .nav-link {
  color: rgb(196, 166, 212);
}

.bank-logo {
  max-width: 35px;
  max-height: 35px;
}

.logout-link {
  cursor: pointer;
}
