<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">First Name</th>
    <th scope="col">Second Name</th>
    <th scope="col">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{ client.id }}</td>
    <td>{{ client.firstName }}</td>
    <td>{{ client.secondName }}</td>
    <td>{{ client.email }}</td>
  </tr>
  </tbody>
</table>
