<ng-template appNewPaymentPlaceholder></ng-template>
<div class="container-md p-3 my-2 credit-detail-container">
  <div class="row">
    <div class="col mx-auto text-justify">
      <h3>Credit #<i>{{ credit.creditNumber }}</i></h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p>Opened: {{ credit.openingDate | date }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-repayment-chart></app-repayment-chart>
    </div>
    <div class="col-sm">
      <h4>Full credit sum: ${{ credit.fullSum }}</h4>
      <h6>Credit duration: <b>{{ getCreditDuration() }}</b></h6>
      <p>Credit status: <b>{{ isCreditPayedOff() }}</b></p>
      <hr>
      <h4>Payments:</h4>
      <h6 *ngIf="credit.repayments === null">No payment for now</h6>
      <ul class="list-group" *ngIf="credit.repayments !== null">
        <li class="list-group-item" *ngFor="let repayment of credit.repayments">
          Repayment from {{ repayment.repaymentDate }}: <b>${{ repayment.repaymentSum }}.</b>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col d-flex justify-content-start">
      <h5>Creditor: {{ credit.creditor.name }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h6>Credit type: {{ credit.creditType.name }} ({{ getCreditRate() }})</h6>
    </div>
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn" (click)="onNewPayment()">New Payment</button>
    </div>
  </div>
</div>
