.credit-detail-container {
  border: 5px solid rgb(155, 24, 191);
  background-color: rgb(18, 1, 29);
  color: rgb(201, 133, 255);
}

li.list-group-item {
  background-color: rgb(188, 134, 234);
  color: rgb(18, 1, 29);
}

hr {
  border-top: 1px solid rgb(155, 24, 191);
}

button.btn {
  cursor: pointer;
  background-color: rgb(188, 134, 234);
  color: rgb(18, 1, 29);
}
