<div class="backdrop" (click)="onClose()"></div>
<div class="new-credit-modal-box" [@modalState]="modalState">
  <div class="row d-flex justify-content-center main-modal">
    <div class="col-lg-7 p-5">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form [formGroup]="creditForm" (ngSubmit)="onCreateCredit()">
        <div class="form-group">
          <label for="creditType">Credit Type</label>
          <select class="form-control" id="creditType" formControlName="creditTypeId">
            <option *ngFor="let creditType of creditTypes" [value]="creditType.id">{{ creditType.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="creditor">Creditor</label>
          <select class="form-control" id="creditor" formControlName="creditorId">
            <option *ngFor="let creditor of creditors" [value]="creditor.id">{{ creditor.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="creditSum">Credit Sum</label>
          <input type="text" class="form-control" id="creditSum" formControlName="sum">
        </div>
        <div class="form-group">
          <label for="monthsAmount">Months</label>
          <input type="text" class="form-control" id="monthsAmount" formControlName="monthsAmount">
        </div>
        <div class="row d-flex justify-content-end">
          <div class="col-auto">
            <button type="submit" class="btn mr-1" [disabled]="creditForm.invalid">Create</button>
            <button type="button" class="btn ml-1" (click)="onClose()">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
